<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title>[% c.config.name %]: [% node.name %]</title>
    <link rel="stylesheet" href="/static/style/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/style/print.css" type="text/css" media="print"><!--[if IE]><link rel="stylesheet" href="/static/style/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/static/style/site.css" type="text/css" media="screen, projection" charset="utf-8">
    
</head>

<body class="container">
    <div class="banner span-29"><h1>[% c.config.name %]</h1></div>
    <hr class="space" />
    <div class="content span-20 last">
         <form action="[% c.uri_for('/login/openid') %]" method="GET" name="openid">
         <input type="text" name="openid_identifier" class="openid" />
         <input type="submit" value="Sign in with OpenID" />
         </form>
     </div>
    <hr class="space" />
</body>
</html>
